<div class="col-md-8">
  <h1>
  <%= @micropost.title  %>
  </h1>
  <br>
  <h3>
  開催場所:
  <%= @micropost.location  %>
  <br>
  参加人数:
  <%= @micropost.headcount  %>
  <br>
  費用(合計):
  <%= @micropost.budget * @micropost.headcount %>
  </h3>
</div>
